/* styles.css */

/* Reset default styles and set common rules */
body, html {
  height: 100%;
  margin: 0;
}

/* Style the left panel */
.left-panel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 20%; /* Relative width */
  background-color: rgba(242, 242, 242, 0.8);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 0.2ch solid #000000; /* Add a sharp border on the right side */
  overflow: hidden;
}

/* Style the profile image */
.profile-image {
  flex: 0 0 auto;
  margin: 0 20px 20px;
}

.profile-image img {
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  border-radius: 50%;
  border: 0.2ch solid #828587;
}

.profile-image img:hover {
  filter: brightness(90%); /* Slightly darken the image on hover */
  transform: scale(1.05); /* Slightly scale up the image on hover */
  transition: filter 0.3s ease, transform 0.3s ease; /* Add transition effects */
}

/* Style the profile links */
.profile-links a {
  display: inline-block;
  margin-right: 10px;
  text-decoration: none;
  color: #333;
}

.profile-links img {
  max-width: 24px;
  width: 100%;
  transition: filter 0.3s ease, transform 0.3s ease; /* Add transition effects */
}

/* Add color to profile links on hover */
.profile-links img:hover {
  filter: none; /* Remove grayscale effect on hover */
  transform: scale(1.5); /* Scale up the icon slightly on hover */
}

/* Style the contact information */
.contact-info {
  margin-top: 15px;
}

.contact-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.contact-item img {
  width: 24px;
  margin-right: 10px;
}

/* Style the contact links */
.contact-item a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #333;
  transition: color 0.3s ease, background-color 0.3s ease, border-radius 0.3s ease, padding 0.3s ease;
}

/* Apply a darker background and change text color on hover */
.contact-item a:hover {
  color: #fff;
  background-color: #a798ba;
  border-radius: 4px;
  padding: 5px 10px;
}

/* Reset font weights */
.contact-label {
  font-weight: bold;
}

.contact-detail {
  font-weight: normal;
}

.profile-name {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}

.profile-name:hover {
  color: #fff;
  background-color: #a798ba;
  border-radius: 4px;
  padding: 5px 10px;
}