/* Style the parent container */
.panels-container {
    display: flex;
    height: 100%;
    overflow: hidden;
    background-image: url('../Resources/Background-Images/Background-1.avif');
  background-size: cover;
  background-position: center;
}